<%- include('header') %>

    <form action="/profile/<%= user.username %>/new-action-list/" method="post">
    
        <input type="text" name="action_list_name" id="">
        <textarea name="list_description" id="" cols="30" rows="10"></textarea>
        <button type="submit">Create List</button>
        
    </form>

<%- include('footer') %>