<%- include('header') %>

<p><%= message[0] %></p>

<form action="/login" method="post">
    <input type="text" name="username" id="username"><br>
    <input type="password" name="password" id="password"><br>
    <button type="submit">Log In</button>
    </form>

<%- include('footer') %>